HOST=0.0.0.0
PORT=4010
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=v1_traffic
LOCAL_MONGO_URI=mongodb://127.0.0.1:27017
LOCAL_MONGO_DB=v1_traffic
CORS_ORIGINS=*
ORDER_MARKETPLACES=ajio,nykaa,nykaa_fashion,shopify,myntra
INVENTORY_MARKETPLACES=ajio,nykaa,nykaa_fashion
